[data-theme="light"] .text-gray-100 {
  color: #1e293b !important;
}
[data-theme="light"] .text-gray-200 {
  color: #1e293b !important;
}
[data-theme="light"] .border-gray-700 {
  border: none !important;
}